.app {
  /* max-width: 1440px; */
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;
}

/* NAVBAR -------------------------------------------------- */

.navbar {
  grid-column: 1 / span 12;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.navbar img {
  width: 17rem;
}

/* --------------------------------------------------------- */

/* AUTH PAGE ----------------------------------------------- */

.auth-container {
  grid-column: 1 / span 12;
  padding: 50px 0;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 16px;

  /* Background image: */
  background-image: url("./assets/reciplease-splash-screen.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.auth-form-container {
  grid-column: 5 / span 4;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-form-container img {
  margin-bottom: 50px;
  width: 17rem;
  align-self: center;
}

.auth-btns {
  display: flex;
  gap: 10px;
}

.auth-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.auth-form input:focus {
  outline: 1px solid var(--orange);
}

/* --------------------------------------------------------- */
